<div class="well well-small">
	<%= simple_form_for(@upload, url: uploads_challenge_participants_path, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.input :data, :as => :file, label: 'challenge-participants-export.csv' %>
	<div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-danger">Create Upload</button> <%= @challenge_participants.count %> records
    </div>
  </div>
	<% end %>
</div>

<div class="well well-small">
	<%= simple_form_for(@upload, url: uploads_challlenges_path, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.input :data, :as => :file, label: 'challenge-export.csv' %>
		<div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-warning">Create Upload</button> <%= @challenges.count %> records
	    </div>
	  </div>
	<% end %>
</div>

<div class="well well-small">
	<%= simple_form_for(@upload, url: uploads_challenge_platforms_path, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.input :data, :as => :file, label: 'challenge-platforms-export.csv' %>
		<div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-success">Create Upload</button> <%= @challenge_platforms.count %> records
	    </div>
	  </div>
	<% end %>
</div>

<div class="well well-small">
	<%= simple_form_for(@upload, url: uploads_challenge_technologies_path, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.input :data, :as => :file, label: 'challenge-technologies-export.csv' %>
		<div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-success">Create Upload</button> <%= @challenge_technologies.count %> records
	    </div>
	  </div>
	<% end %>
</div>

<%= link_to "Back", root_path, :class => 'btn btn-primary' %>